/*
Divine Cafe 2022 Website template
Developed by Anthony Davidson
davan690.github.io
*/
@import url('https://fonts.googleapis.com/css2?family=Eczar:wght@400;500;600;700&family=Neuton:ital,wght@0,300;0,400;0,700;1,400&display=swap');
/*
header style
*/

html {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Eczar', serif;
}

/*
background style
*/

body {
  background-image: url(./images/Dishes/PadThai/padThai1.png);
  height: 100%;
  background-position: center;
  background-size: cover;
  position: relative;
  color: white;
  font-family: 'Neuton', serif;
  font-size: 25px;
}

/*
Custom blocks
*/

.topleft {
  position: absolute;
  zoom: 0.2;
  top: 32 px;
  left: 32 px;
  font-family: 'Neuton', serif;
  font-size: 82px;
  color: black;
}

.topright {
  right: 32 px;
  zoom: 0.2;
  top: 0;
}

.bottomleft {
  position: absolute;
  bottom: 0;
  left: 14px;
  font-size: 20px;
}

.middle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.hr {
  margin: auto;
  width: 40%;
}